<html><head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body class=" m-5">
<div class="container">
<h1>Dashboard</h1>
</div>
<br />
<div class="container">

{% if data_calls %}
    <table class="table table-hover">
    {% for data_call in data_calls %}
    <tr>
        <td><strong>Date: {{data_call.date}}</strong></td>
        <td><strong>Call #: {{data_call.call_id}}</strong></td>
        <td>
        {% for data_fund_investment in data_call.data_fund_investment_set.all %}
            <strong>Fund {{ forloop.counter }}: </strong>{{data_fund_investment.call_id.capital_requirement}}
        {% endfor %}
        </td>
    </tr>
    {% endfor %}
    
    </table>
{% endif %}
</div>
</body>
</html>