<html><head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body class=" m-5">
<div class="container">
<h1>New Call</h1>
</div>
<br />
<div class="container">
{% load mathfilters %}
{% if latest_commitment_list %}
    <table class="table table-hover">
        <tr>
        <th>Commitment ID</th>
        <th>Fund ID</th>
        <th>Date</th>
        <th>Amount</th>
        <th>Total Drawdown Notice</th>
        <th>Undrawn Capital</th>
        </tr>
    <tbody>
    {% for commitment in latest_commitment_list %}
        <tr>
        <td>{{ commitment.commitment_id }}</td>
        <td>{{ commitment.fund_id }}</td>
        <td>{{ commitment.date }}</td>
        <td>{{ commitment.amount }}</td>
        
        {% for df in dfi %}
            {% if df.commitment_id.commitment_id ==  commitment.commitment_id %}
            <td>{{ df.call_id.capital_requirement }}</td>
            <td>{{ commitment.amount|sub:df.call_id.capital_requirement }}</td>
            {% endif %}
        {% endfor %}
        
        </tr>
    {% endfor %}
    </tbody>
    </table>
{% else %}
    <p>No commitments are available.</p>
{% endif %}




</div>
</body>
</html>